/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
   0%,
   100% {
      opacity: 1;
   }
   60% {
      opacity: 0;
   }
}

.animate-fade {
   animation: fade 1s ease-in-out infinite;
}

.animation-delay-300 {
   animation-delay: 0.33s;
}

.animation-delay-600 {
   animation-delay: 0.66s;
}
